#front-img {
    width: 100%;
}
#front-title {
    font-size: 1.4em;
    color: black;
    text-align: center;
}
.front-txt {
    font-size: 1.4em;
    text-align: center;
}
#front-link {
    color: red;
}