.ml-auto {
    margin-left: auto !important;
}

.logo {
    width: 230px;
    height: auto;
}
.nav-link.router-link-exact-active {
    color: #FFF !important;
}

.navbar-nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-nav button.btn-danger {
    margin: 0 8px;
}
.copyright {
    margin-top: 15px;
    font-size: 0.7em;
}
.bg-info {
    background-color: #2C2F33 !important;
}
@media screen and (max-width:320px) {
    .logo  {
        width: 180px; 
    }
}